/***********************
*****************
 This is for tablet size screen css 
 ****************
 ***********************/
@media only print, only screen and (min-width: 640px) {
  html {
    font-size: 67%;
  }
  .container,
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
  }

  .portfolio-logo {
    background-color: #374357;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px #999;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 5rem;
    display: inline-block;
  }

  /***********************
      LANDING PAGE SECTION 
   ***********************/
  .landing-page {
    display: grid;
    justify-content: center;
    grid-template-columns: 30rem calc(100% - 30rem);
  }
  .message-banner {
    padding-top: 7rem;
  }
  .profile {
    justify-self: center;
  }

  /***********************
      MY SKILLS SECTION 
   ***********************/
  .myskills .myskills-content {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  /* Mini Projects */
  .project-box .project-description {
    font-size: 1.7rem;
    padding: 2rem;
  }

  .project-section .project-box {
    display: flex;
  }

  .project-box img {
    width: 70%;
  }

     /***********************
      LANDING PAGE SECTION
     ***********************/
  
     .heartbeat-button {
       display: inline-block;
       padding: 10px 20px;
       font-size: 18px;
       /* Text color */
       background-color: #28a745;
       /* Button color */
       border: none;
       border-radius: 5px;
       /* Rounded corners */
       text-decoration: none;
       /* Remove underline */
       text-align: center;
       transition: transform 0.3s;
       /* Smooth transition */
       animation: heartbeat 1.5s infinite;
       /* Apply heartbeat animation */
     }
  
     /* Heartbeat Animation */
     @keyframes heartbeat {
  
       0%,
       100% {
         transform: scale(1);
       }
  
       50% {
         transform: scale(1.1);
         /* Slightly scale up */
       }
     }
}
